* {
  box-sizing: border-box;
}

html,body{
	margin: 0;
	padding: 0;
	background-color: #F0F8FF;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family: Microsoft JhengHei;
}

h1 {
	font-size:60px;
	color:#003153;
	text-align:center;
	margin:0;
}

hr{
	border: 2px solid #5a6268;
	width:100%;
}

hr.longer {
	border: 2px solid #003153;
	width:20vw;
}

hr.shorter {
	border: 2px solid #003153;
	width:15vw;
}

.homepic {
  width: 100%;
  height: 100vh;
}

.content_pic{
  width: 100%;
  height:100%;
  padding:15px;
  vertical-align: middle;
}

.content{
	width:100%;
	height:auto;
	min-height:70vh;
	background-color:#F0F8FF;
	padding:15vh 0;
}

.content_2{
	width:100%;
	height:auto;
	min-height:70vh;
	background-color:#fff;
	margin-top:10vh;
	padding:15vh 0;
}

.list1 ol { 
	font-style:bold; 
	font-size:30px; 
	color:#00477D;  
}

.list1 ol li {
}

.list1 ol li p { 
	padding:8px; 
	font-style:normal;
	font-size:28px; 
	color:#082567; 
	border-left: 5px solid #00477D; 
}

.list1 ol li p em { 
	display:block; 
}

.list2 li{
	margin:15px auto;
	padding: 0.5em;
	background-color: #F0D756;
	font-size:30px;
	text-align:center;
	list-style: none;
}

.list2 li:hover {
  background-color: #337ab7;
  color:white;
}



.container {
  width: 100%;
  background-color: #ddd;
  border-radius:10px;
}

.skills {
  text-align: right;
  padding: 10px;
  color: white;
}

.skills:hover {
  -webkit-filter:brightness(.90);
}

.percent100 {
  width: 100%; 
  background-color: #5cb85c;
  border-color:#4cae4c;
  border-radius:10px;
}

.percent80 {
  width: 80%; 
  background-color: #337ab7;
  border-color:#2e6da4;
  border-radius:10px;
}

.percent60 {
  width: 60%; 
  background-color: #f0ad4e;
  border-color:#eea236;
  border-radius:10px;
}

.skill_header{
  font-size:30px;
  color:#003153;
  text-align:left;
  margin:0;
}

.hobby{
  position: relative;
  z-index: 1; 
}

.hobby:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hobby img{
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding:0px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.overlay.red{
  background-color: #d9534f;
}

.overlay.orange{
	  background-color: #f0ad4e;
}

.overlay.blue{
	  background-color: #5bc0de;
}

.overlay.green{
	  background-color: #5cb85c;
}

.text {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact{
	background-color:white;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (min-width: 818px)  {
	
	#menuToggle span
	{
	  display: none;
	  z-index:2;
	}

	#menuToggle input
	{
	  display: none;
	}

	#menu
	{
		overflow: hidden;
		background-color: #003153;
		position:fixed;
		padding:0;
		margin:0;
		width:100vw;
		z-index:2;
	}
	
	#menu > a{
	  float: left;
	  color: #f2f2f2;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 20px;
	}
	
	#menu > a > li {
		list-style-type:none;
		clear: both;
	}
	
	#menu > a:hover {
	  background-color: #FED55D;
	  color: black;
	}
	
	#menu > a.right{
		float:right;
		margin-right:1vw;
	}
	
	.list1.contact_me_list{
	  display:none;
	}

	[class*="col-"] {
	  float: left;
	  padding: 15px;
	}

	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}


@media screen and (max-width: 818px) {
	.homepic {
	  width: 100%;
	  height: auto;
	  padding:10px 0px 0px 0px ;
	}
	
	.content_pic{
	  display:none;
	}
	
	h1 {
	  font-size:30px;
	  color:#003153;
	  text-align:center;
	  margin:0;
	}

	.topnav
	{
		display:none;
	}
	a
	{
	  text-decoration: none;
	  color: #232323;
	  transition: color 0.3s ease;
	}

	a:hover
	{
	  color: tomato;
	}

	#menuToggle
	{
	  display: block;
	  background-color: #003153;
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: 2;
	  padding:10px;
	  -webkit-user-select: none;
	  user-select: none;
	}

	#menuToggle input
	{
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  cursor: pointer;
	  opacity: 0; /* hide this */
	  z-index: 2; /* and place it over the hamburger */
	  -webkit-touch-callout: none;
	}

	/*
	 * Just a quick hamburger
	 */
	#menuToggle span
	{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  background: #ffffff;
	  border-radius: 3px;
	  z-index: 2;
	  transform-origin: 4px 0px;
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  opacity 0.55s ease;
	}

	#menuToggle span:first-child
	{
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}

	/* 
	 * Transform all the slices of hamburger
	 * into a crossmark.
	 */
	#menuToggle input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #ffffff;
	}

	/*
	 * But let's hide the middle one.
	 */
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	/*
	 * Ohyeah and the last one should go the other direction
	 */
	#menuToggle input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -1px);
	}

	/*
	 * Make this absolute positioned
	 * at the top left of the screen
	 */
	#menu
	{
	  position: absolute;
	  width: 110vw;
	  margin: -100px 0 0 -50px;
	  padding: 50px 50px 30px 50px;
	  padding-top: 125px;

	  background-color: #003153;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  /* to stop flickering of text in safari */
	  
	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu li
	{
	  padding: 10px 0;
	  font-size: 22px;
	  text-align:center;
	  color:#ffffff
	}

	/*
	 * And let's slide it in from the left
	 */
	#menuToggle input:checked ~ ul
	{
	  transform: none;
	}
	
	.list1 ol li p { 
	  padding:8px; 
	  font-style:normal;
	  font-size:30px; 
	  color:#082567; 
	  border-left: 5px solid #00477D; 
	}
	
	.list2 ol li{
	  position: relative;
	  margin-bottom: 1.5em;
	  padding: 0.5em;
	  background-color: #F0D756;
	  padding-left: 58px;
	  font-size:15px;
	  text-align:center;
	}
	
	.none_display{
		display:none;
	}
	
	[class*="col-"] {
	  float: left;
	  padding: 15px;
	}

	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}